NEXT_PUBLIC_SUPABASE_URL=https://fmihnxwsajszldzizzcn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_ADMIN_API_URL=https://fmihnxwsajszldzizzcn.supabase.co/functions/v1/admin-api
SUPABASE_PROJECT_REF=fmihnxwsajszldzizzcn
